@model IEnumerable<SalesWebMvc.Models.Department>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <!--Aqui é onde é criado a parte de create do crud.-->
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th> 
             <!--Aqui é onde é criado os labels da aplicação com auxilio do razor-->
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <!--Aqui é onde a aplicação lista no front end a lista criada no controle da aplicação-->
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td> <!--Aqui é onde é adicionado os links para o botões, editar, datalhes e excluir, listados no front-end-->
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
